body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-bar{
    width:100%;
    background-color:#961a32;
    height: 50px;
    display: flex;
    justify-content: flex-start;

}
#op1{
    content: "";    
    height:5px;
    background-color: #961a32;
    margin-top:45px;
    left: 0;
    position: absolute;
    transition: all ease 500ms;
    
}
.nav-bar > a{
    align-self: center;
    padding: 15px;   
    text-decoration: none;
    font-weight: normal;
    color:white;
    
}
.nav-bar > a:hover{   
    background-color: #be5167;
    
}
.nav-bar > a:nth-child(3){ 
    background-color: #be5167;
}

/*effect hover*/
.nav-bar > a:nth-child(1):hover ~ #op1{    
    background-color: #fff;
    width: 67px;
}
.nav-bar > a:nth-child(2):hover ~ #op1{  
    width: 100px;  
    left:66px;
    background-color: #fff;
}
.nav-bar > a:nth-child(3):hover ~ #op1{ 
    width: 67px;   
    left:166px;
    background-color: #fff;
}

/*code for container*/

.container{
    width:50%;
    height: 500px;    
    margin: auto;
    margin-top:40px;    
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 45% 40%;
    grid-template-areas: "image name"
    "image data"
    "image data-work";
    overflow: auto;      
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(156,151,156,1);
-moz-box-shadow: 0px 0px 10px 0px rgba(156,151,156,1);
box-shadow: 0px 0px 10px 0px rgba(156,151,156,1);
}

.img{
    grid-area: image;
    background-color: #961a32;
    padding-top: 120px;
    box-sizing: border-box;
       
}

.img > img{
    width:200px;
    height:200px;
    border-radius: 100px;
    display: block;
    margin: auto;
    
}
.name{
    grid-area: name;
    border-radius: 0px 10px 0px 0px;
    display: flex;
    padding:0px 15px 0px 25px; 
}
.name > p{
    font-size: 20px;
    align-self: center;
    color: #706769;   
}
.p-data{
    font-size: 16px;
    grid-area:data;
    display: grid;
    color:#706769;
    grid-template-rows: 25% 25% 25% 25%;
    border-top: 1px solid #e0e0e0;
    overflow: auto;

}
.p-data > div{
    display: grid;
    grid-template-columns: 10% 90%;
    padding-left: 25px;
    align-items: center;
   
}
.nothing{
    -webkit-box-shadow: 0px 9px 5px -6px rgba(134, 131, 131, 0.75);
-moz-box-shadow: 0px 9px 5px -6px rgba(122, 117, 117, 0.75);
box-shadow: 0px 9px 5px -6px rgba(129, 123, 123, 0.75);
border: 1px solid #e0e0e0;
    cursor: pointer;
}
.p-data > div.hover{
display: grid;
grid-template-columns: 10% 35% 35%;
grid-column-gap: 5px;


}
 div.hover > a{
    text-decoration: none;
    color: #961a32;
    cursor: pointer;
    background-color:#e0e0e0;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    
}
div.hover > a:hover{
    color: #961a32;
    transition: all 300ms ease;
   transform: scale(1.1);
   font-weight: normal;
}
div.correo{
    display: grid;
grid-template-columns: 10% 45%;
grid-column-gap: 5px;


}
div.correo > a{
    text-decoration: none;
    color: #961a32;
    cursor: pointer;
    background-color:#e0e0e0;
    border-radius: 50px;
    font-size: 14px;
    text-align: center; 
}
div.correo > a:hover{
    color: #961a32;
    transition: all 300ms ease;
   transform: scale(1.1);
   font-weight: bold;
}
.fas{
   
    color:#961a32;
    font-size: 20px;

}
.data-work{
    grid-area:data-work;
    display: grid;
    font-size: 16px;
    grid-template-rows: 50% 50% 50%;
    padding:15px 0px 0px 0px;    
    color: #706769; 
    border-top: 1px solid #e0e0e0; 
    overflow: auto; 
}
.clinica{
    display: grid;    
    padding:0px 0px 0px 25px;
    
}
.data-work > .clinica > span.title{
    color:#961a32;
    width: 100%;
    display:block;
    text-transform: capitalize;
    font-weight: bold;
}
.data-work > .clinica > span.address{
    width:100%;
    display:block;
    font-weight: normal;
}
.data-work > .clinica > span.tel{
    width:105px;
    height: 17px;
    font-size: 14px;
    text-align: center;
    display:block;
    font-weight: normal;
    color:#961a32;
    background-color:#e0e0e0;
    border-radius: 50px;
    transition:all 100ms ease;


}
.data-work > .clinica > span.tel:hover{
    transform:scale(1.1);
    cursor: pointer;
    font-weight: bold;
}
@media(max-width:800px){
    .container{
        width:80%;
    }
}

@media(max-width:600px){
    .container{
        width:60%;
        grid-template-rows: 35% 15% 25% 25%;
        grid-template-areas: "image image"
        "name name"
        "data data"
        "data-work data-work";
    }
        .img{
            padding-top: 10px;
        }
        .img > img{
            width: 150px;
            height: 150px;
        }
        .p-data{
            grid-template-rows: 33% 33% 33%;
          
        }
        
        .data-work{
            grid-template-rows: 75% 85% 85%;
            overflow: auto;
           
        }
        .clinica:nth-child(1){
            border-bottom: 1px solid #e0e0e0;
            
        }
        .clinica:nth-child(2){
            border-bottom: 1px solid #e0e0e0;
            margin-top: 10px;
        }
        .clinica:nth-child(3){
            
            margin-top: 10px;
            
        }
        .p-data > div.hover{
            display: grid;
            grid-template-columns: 10% 40% 40%;
        }
    
    
}

